In [395]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [396]:
df = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
survival = pd.read_csv("gender_submission.csv")

In [397]:
survival.drop(["PassengerId"], inplace=True, axis=1)

In [398]:
test["Survived"] = survival["Survived"]

In [399]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [400]:
df.drop(["Name", "Ticket", "PassengerId", "Cabin"], inplace=True, axis=1)
test.drop(["Name", "Ticket", "PassengerId", "Cabin"], inplace=True, axis=1)

In [401]:
df["Male"] = (df["Sex"] == "male").astype(int)
df["Female"] = (df["Sex"] == "female").astype(int)

test["Male"] = (test["Sex"] == "male").astype(int)
test["Female"] = (test["Sex"] == "female").astype(int)

In [402]:
df.drop(["Sex"], inplace=True, axis=1)
test.drop(["Sex"], inplace=True, axis=1)

In [403]:
df.dropna(inplace=True)
test.dropna(inplace=True)

In [404]:
df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare Embarked  Male  Female
0         0       3  22.0      1      0   7.2500        S     1       0
1         1       1  38.0      1      0  71.2833        C     0       1
2         1       3  26.0      0      0   7.9250        S     0       1
3         1       1  35.0      1      0  53.1000        S     0       1
4         0       3  35.0      0      0   8.0500        S     1       0

In [405]:
df.drop(["Embarked"], inplace=True, axis=1)
test.drop(["Embarked"], inplace=True, axis=1)

In [406]:
df["Pclass=3"] = (df["Pclass"]==3).astype(int)
df["Pclass=2"] = (df["Pclass"]==2).astype(int)
df["Pclass=1"] = (df["Pclass"]==1).astype(int)

test["Pclass=3"] = (test["Pclass"]==3).astype(int)
test["Pclass=2"] = (test["Pclass"]==2).astype(int)
test["Pclass=1"] = (test["Pclass"]==1).astype(int)

In [407]:
df["Child"] = (df["Age"] <= 12).astype(int)
df["Teen"] = ((df["Age"].between(12, 18)).astype(int))
df["Adult"] = ((df["Age"].between(18, 60)).astype(int))
df["Elderly"] = (df["Age"] > 60).astype(int)

test["Child"] = (test["Age"] <= 12).astype(int)
test["Teen"] = ((test["Age"].between(12, 18)).astype(int))
test["Adult"] = ((test["Age"].between(18, 60)).astype(int))
test["Elderly"] = (test["Age"] > 60).astype(int)

In [408]:
df.drop(["Pclass", "Age", "Fare"], inplace=True, axis=1)
test.drop(["Pclass", "Age", "Fare"], inplace=True, axis=1)

In [409]:
df.drop(["Child", "Teen", "Adult", "Elderly"], inplace=True, axis=1)
test.drop(["Child", "Teen", "Adult", "Elderly"], inplace=True, axis=1)

In [410]:
df.drop(["SibSp", "Parch"], inplace=True, axis=1)
test.drop(["SibSp", "Parch"], inplace=True, axis=1)

In [411]:
'''df["SibSp"] = (df["SibSp"] > 0).astype(int)
test["SibSp"] = (test["SibSp"] > 0).astype(int)'''

'df["SibSp"] = (df["SibSp"] > 0).astype(int)\ntest["SibSp"] = (test["SibSp"] > 0).astype(int)'

In [412]:
'''df["Parch"] = (df["Parch"] > 0).astype(int)
test["Parch"] = (test["Parch"] > 0).astype(int)'''

'df["Parch"] = (df["Parch"] > 0).astype(int)\ntest["Parch"] = (test["Parch"] > 0).astype(int)'

In [413]:
y_train = np.array(df["Survived"])
y_test = np.array(test["Survived"])

In [414]:
df.drop(["Survived"], inplace=True, axis=1)
test.drop(["Survived"], inplace=True, axis=1)

In [415]:
logreg = LogisticRegression()

In [416]:
x_train = df
x_test = test

In [417]:
logreg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [418]:
y_pred = logreg.predict(x_test)

In [419]:
logreg.score(x_test, y_test)

1.0