In [158]:
import pandas as pd
import sklearn as sk
#from sklearn import linear_model

In [159]:
train_df = pd.read_csv('datasets/train.csv')
test_df = pd.read_csv('datasets/test.csv')
test_target_df = pd.read_csv('datasets/gender_submission.csv')

In [160]:
test_df = pd.concat([test_df, test_target_df], axis=1)

In [161]:
# Drop nulls
train_df.dropna(inplace=True)
test_df.dropna(inplace=True)

In [162]:
# Set a target dataframe
train_target_df = train_df['Survived']
test_target_df = test_df['Survived']

In [163]:
# Drop the Rows that we dont want
train_df.drop(['Survived', 'Name', 'Ticket', 'Cabin', 'Embarked', 'PassengerId'], inplace=True, axis=1)
test_df.drop(['Survived', 'Name', 'Ticket', 'Cabin', 'Embarked', 'PassengerId'], inplace=True, axis=1)

In [164]:
# One hot encode the Sex cloumn
train_df['Male'] = (train_df['Sex'] == 'male').astype(int)
train_df['Female'] = (train_df['Sex'] == 'female').astype(int)
train_df.drop(['Sex'], inplace=True, axis=1)

test_df['Male'] = (test_df['Sex'] == 'male').astype(int)
test_df['Female'] = (test_df['Sex'] == 'female').astype(int)
test_df.drop(['Sex'], inplace=True, axis=1)

In [165]:
train_df

     Pclass   Age  SibSp  Parch      Fare  Male  Female
1         1  38.0      1      0   71.2833     0       1
3         1  35.0      1      0   53.1000     0       1
6         1  54.0      0      0   51.8625     1       0
10        3   4.0      1      1   16.7000     0       1
11        1  58.0      0      0   26.5500     0       1
21        2  34.0      0      0   13.0000     1       0
23        1  28.0      0      0   35.5000     1       0
27        1  19.0      3      2  263.0000     1       0
52        1  49.0      1      0   76.7292     0       1
54        1  65.0      0      1   61.9792     1       0
62        1  45.0      1      0   83.4750     1       0
66        2  29.0      0      0   10.5000     0       1
75        3  25.0      0      0    7.6500     1       0
88        1  23.0      3      2  263.0000     0       1
92        1  46.0      1      0   61.1750     1       0
96        1  71.0      0      0   34.6542     1       0
97        1  23.0      0      1   63.3583     1       0
102       1  21.0      0      1   77.2875     1       0
110       1  47.0      0      0   52.0000     1       0
118       1  24.0      0      1  247.5208     1       0
123       2  32.5      0      0   13.0000     0       1
124       1  54.0      0      1   77.2875     1       0
136       1  19.0      0      2   26.2833     0       1
137       1  37.0      1      0   53.1000     1       0
139       1  24.0      0      0   79.2000     1       0
148       2  36.5      0      2   26.0000     1       0
151       1  22.0      1      0   66.6000     0       1
170       1  61.0      0      0   33.5000     1       0
174       1  56.0      0      0   30.6958     1       0
177       1  50.0      0      0   28.7125     0       1
..      ...   ...    ...    ...       ...   ...     ...
737       1  35.0      0      0  512.3292     1       0
741       1  36.0      1      0   78.8500     1       0
742       1  21.0      2      2  262.3750     0       1
745       1  70.0      1      1   71.0000     1       0
748       1  19.0      1      0   53.1000     1       0
751       3   6.0      0      1   12.4750     1       0
759       1  33.0      0      0   86.5000     0       1
763       1  36.0      1      2  120.0000     0       1
765       1  51.0      1      0   77.9583     0       1
772       2  57.0      0      0   10.5000     0       1
779       1  43.0      0      1  211.3375     0       1
781       1  17.0      1      0   57.0000     0       1
782       1  29.0      0      0   30.0000     1       0
789       1  46.0      0      0   79.2000     1       0
796       1  49.0      0      0   25.9292     0       1
802       1  11.0      1      2  120.0000     1       0
806       1  39.0      0      0    0.0000     1       0
809       1  33.0      1      0   53.1000     0       1
820       1  52.0      1      1   93.5000     0       1
823       3  27.0      0      1   12.4750     0       1
835       1  39.0      1      1   83.1583     0       1
853       1  16.0      0      1   39.4000     0       1
857       1  51.0      0      0   26.5500     1       0
862       1  48.0      0      0   25.9292     0       1
867       1  31.0      0      0   50.4958     1       0
871       1  47.0      1      1   52.5542     0       1
872       1  33.0      0      0    5.0000     1       0
879       1  56.0      0      1   83.1583     0       1
887       1  19.0      0      0   30.0000     0       1
889       1  26.0      0      0   30.0000     1       0

[183 rows x 7 columns]

In [166]:
test_df

     Pclass   Age  SibSp  Parch      Fare  Male  Female
12        1  23.0      1      0   82.2667     0       1
14        1  47.0      1      0   61.1750     0       1
24        1  48.0      1      3  262.3750     0       1
26        1  22.0      0      1   61.9792     0       1
28        1  41.0      0      0   30.5000     1       0
34        1  30.0      1      0   57.7500     1       0
44        1  45.0      1      0   52.5542     0       1
46        1  45.0      0      0   29.7000     1       0
48        1  60.0      0      0   76.2917     0       1
50        1  24.0      1      0   60.0000     1       0
53        1  28.0      3      2  263.0000     0       1
57        3  25.0      0      0    7.6500     1       0
59        1  36.0      0      0  262.3750     0       1
64        1  13.0      2      2  262.3750     1       0
68        1  31.0      0      0   28.5375     1       0
69        1  60.0      1      4  263.0000     0       1
73        1  28.5      0      0   27.7208     1       0
74        1  35.0      0      0  211.5000     0       1
75        1  32.5      0      0  211.5000     1       0
77        1  55.0      2      0   25.7000     0       1
81        1  67.0      1      0  221.7792     1       0
92        1  27.0      1      2   52.0000     0       1
96        1  76.0      1      0   78.8500     0       1
100       1  43.0      1      0   55.4417     0       1
109       2  18.5      0      0   13.0000     1       0
112       1  36.0      0      0   31.6792     0       1
114       1  63.0      1      0  221.7792     0       1
117       3   1.0      1      1   16.7000     0       1
118       1  36.0      0      0   75.2417     1       0
122       1  35.0      1      0   57.7500     0       1
..      ...   ...    ...    ...       ...   ...     ...
293       1  53.0      1      1   81.8583     1       0
305       1  64.0      1      1   26.5500     0       1
306       1  30.0      1      2  151.5500     1       0
308       1  55.0      1      1   93.5000     1       0
314       1  55.0      0      0  135.6333     0       1
316       1  57.0      1      0  146.5208     1       0
321       3  25.0      0      0    7.2292     1       0
322       2  26.0      0      0   13.0000     1       0
326       2  12.0      2      1   39.0000     0       1
331       1  39.0      0      0   29.7000     1       0
335       1  30.0      0      0   26.0000     1       0
343       1  58.0      0      1  512.3292     0       1
350       1  45.0      0      1   63.3583     0       1
355       1  50.0      0      0   26.0000     1       0
356       1  59.0      2      0   51.4792     0       1
364       1  25.0      1      0   55.4417     0       1
371       1  31.0      0      0  134.5000     0       1
372       1  49.0      0      0    0.0000     1       0
374       1  54.0      1      1   81.8583     0       1
378       1  55.0      0      0   50.0000     1       0
390       1  23.0      0      0   93.5000     1       0
391       1  51.0      0      1   39.4000     0       1
395       1  18.0      1      0   60.0000     0       1
397       1  48.0      1      1   79.2000     0       1
400       1  30.0      0      0  164.8667     0       1
404       1  43.0      1      0   27.7208     1       0
405       2  20.0      0      0   13.8625     1       0
407       1  50.0      1      1  211.5000     1       0
411       1  37.0      1      0   90.0000     0       1
414       1  39.0      0      0  108.9000     0       1

[87 rows x 7 columns]

In [167]:
# fit to a Logistic Regression model
model = sk.linear_model.LogisticRegression()
model.fit(train_df, train_target_df)
y_pred = model.predict(test_df)

In [168]:
# Checking the accuracy
sk.metrics.accuracy_score(test_target_df, y_pred)
#model.score(test_target_df, y_pred)

0.88505747126436785